<div class="container">
<h1 class="logo-send">
    <%= link_to "TYML", tymls_url %>
  <h1>
<h2 class="tagline-send">
  <strong>Congratulations on sending your first TYML!</strong>
</h2>

<h3>
  Don't stop now! <%= link_to 'Share more content', tymls_path %>.
</h3>

</div>
