<div class="container">
  <b>Recieved TYMLs:</b>
  <% @current_user.received_tymls.each do |tyml| %>
  <div class="tyml-container group">
    <div class="tyml-profile-image"><%= image_tag tyml.sender.profile_pic %></div>
    <p class="tyml-user"><%=  tyml.sender.name %> <span class="tyml-copy">thought you might like&hellip;</span></p>
    <div class="tyml-content-wrap">
      <p class="tyml-url"><%=  link_to tyml.url, tyml_url(tyml, :viewed => 'true', :url => tyml.url ), :method => 'put', :target => '_blank' %></p>
      <p class="tyml-note"><%=  tyml.note %></p>
      <!-- update this to show conditionally. if tyml.viewed == true then include .tyml-viewed div -->
      <% unless tyml.viewed != true %>
        <div class="tyml-viewed">Viewed</div>
      <% end %>
      <!-- end conditional -->
    </div>
  </div>
  <% end %>
</div>
