<div class="container">
  <b>Sent TYMLs:</b>
  <% @current_user.sent_tymls.each do |tyml| %>
  <div class="tyml-container group">
    <div class="tyml-profile-image"><%= image_tag tyml.receiver.profile_pic %></div>
    <p class="tyml-user"><span class="tyml-copy">You thought</span> <%=  tyml.receiver.name %> <span class="tyml-copy">might like&hellip;</span></p>
    <div class="tyml-content-wrap">
      <p class="tyml-url"><%=  link_to tyml.url, tyml_url(tyml, :viewed => 'true', :url => tyml.url ), :method => 'put', :target => '_blank' %></p>
      <p class="tyml-note"><%=  tyml.note %></p>
    </div>
  </div>
  <% end %>
</div>
