<h2>TYML</h2>

<h3><%= @tyml.sender.name %> sent you a TYML!</h3>

<p>TYML is the new way to receive awesome content from people you care about. Choose how you want to be notified, and cut through the noise.</p>

<p><strong>URL:</strong> <%= @tyml.url %></p>

<p><%= @tyml.note %></p>

Check out: <%= link_to "TYML", "http://tyml.it" %>